<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- Plyr CSS -->
    <link rel="stylesheet" href="https://cdn.plyr.io/3.3.21/plyr.css">
    <!-- Playlist CSS -->
    <link rel="stylesheet" href="/stylesheets/playlist.css">
    <title>Youtubify</title>
</head>

<body>
	<div class="container">
        <div class="column add-bottom">
            <div id="mainwrap">
                <div id="nowPlay">
                    <span id="npAction">Paused...</span>
                    <span id="npTitle"></span>
                </div>
                <div id="audiowrap">
                    <div id="audio0">
                        <% playlistItems.forEach(function(item){ %>
                            <audio class="js-player" preload="none" src="<%= item.src %>" data-plyr-config='{ "duration": "<%= item.duration %>" }'></audio>
                        <% }) %>
                    </div>
                    <div id="tracks">
                        <a id="btnPrev">&larr;</a>
                        <a id="btnNext">&rarr;</a>
                    </div>
                </div>
                <div id="plwrap">
                    <ul id="plList">
						<% playlistItems.forEach(function(item, i){ %>
							<% var trackNumber = item.track %>
							<% if (item.track.toString().length === 1) { %>
								<% trackNumber = "0" + trackNumber %>
                            <% } %>
                            <% var durationInMinutes = moment.utc(item.duration*1000).format("mm:ss"); %>
							<li data-src="<%= item.src %>" data-index="<%= i %>"><div class="plItem"><span class="plNum"><%= trackNumber %>.</span><span class="plTitle"><%= item.name %></span><span class="plLength"><%= durationInMinutes %></span></div></li>
						<% }) %>
					</ul>
                </div>
            </div>
        </div>
	</div>

</div>

<script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.3.21/plyr.min.js"></script>

<script src="/js/playlist.js"></script>

</body>

</html>