<% include ./partials/header %>
    <div class="row justify-content-center">
        <div class="col-lg-10">
                <h5 class="header">Results</h5>
                <hr>
                <div class="list-group">
                    <% searchResults.forEach(function(result){ %>
                        <% var kind = result.kind; %>
                        <% var link = ""; %>
                        <% var imgClass = ""; %>
                        <% if (kind.includes("video")) { %>
                            <% link = "/playSong?id=" + result.id; %>
                            <% imgClass = "img-fluid rounded"; %>
                        <% } else if (kind.includes("playlist")) { %>
                            <% link = "/playPlaylist?id=" + result.id; %>
                            <% imgClass = "img-fluid rounded"; %>
                        <% } else { %>
                            <% link = "/channel/" + result.id + "/playlists"; %>
                            <% imgClass = "img-fluid rounded-circle"; %>
                        <% } %>
                        <% if(result.id.length > 0){ %>
                            <a class="list-group-item custom-card-search" href="<%= link %>">
                                <div class="card flex-row">
                                    <div class="card-header border-0 text-center">
                                        <img src="<%= result.imgSrc %>" alt="no image found" class="<%= imgClass %>">
                                    </div>
                                    <div class="card-block px-2">
                                        <h5 class="card-title card-title-search">
                                            <%= result.title %>
                                        </h5>
                                        <h6 class="mb-2">
                                            <% if(!kind.includes("channel")){ %>
                                                <a href="<%= '/channel/' + result.channelId %>" class="channel-link">
                                                    <%= result.channelTitle %>
                                                </a>
                                            <% } %>
                                        </h6>
                                        <p class="card-text card-text-search">
                                            <%= result.description %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <hr>
                        <% } %>
                    <% }) %>
                </div>
            </div>
    </div>

<% include ./partials/footer %>